*{font-family: inherit,'Segoe UI', Tahoma,
     Verdana, sans-serif;font-size: 20px;}

 body{margin: 0;padding: 0;
    box-sizing: border-box;background-color: #d8dce2;}

    .header{background-color: #d8dce2;
        display: flex;
        flex-direction: row-reverse;margin-top: 10%;}

    .first{width: 50%;margin-right: 15%;text-align: end;}

    .name{color: #1877f2;font-size: 57px;
    font-weight: bold;width: 100%;}

    .pec{color: black;font-size: 26px;
        width: 100%;margin-top: -2%;}

    .form{border-radius: 10px;width: 50%;
    padding:2%;margin-left: 15%;background-color: #fff;}

    input{border-radius: 10px;padding-right: 2%;
    width: 97%;height: 60px;margin-bottom: 3%;text-align: end;}
    input :hover{border-color: #1877f2;}

    input#login{color: #fff; background-color: #1877f2;
    border: none;text-align: center;border-radius:10px;
    width: 100%;}

    a{text-decoration: none;color: #1877f2;width: 40%;}

    a:hover{color:#42b72a ;}

    a.update{margin-left: 30%;}

    .border{width: 95%;color: #000;
    height: 6px;}

    .btn{background-color: #42b72a;border:none ;
    border-radius: 10px;padding: 16px;height: 48px;
width: 60%;margin-left:20% ;color: #fff;
margin-top: 4%;}

.footer{width:70%; text-align: center;
font-size: 15px;}
.footer a.login{color: #000;font-weight: bold;}



/*------------------------*/
@media only screen and (max-width: 800px) {  
      .header{
        display: flex;
        flex-direction: column;
    }
    .first{margin-left: 17%;}
    .footer{width:70%; text-align: center;
        font-size: 15px;margin-left: 14%;
    margin-top: 5%;}
        .first{width: 60%;}
        .form{width: 60%;
           }
}




